<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" (click)="clickOnMenuBar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar" [ngClass]="{'show': isVisibleMenu}">
        <app-main-menu></app-main-menu>
      </div>
      <div class="nav-bottom">
        <div class="d-flex flex-column">
          <app-top-menu></app-top-menu>
          <form class="d-flex">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search">
              <button class="btn btn-success" type="submit">Go</button> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>