<ul class="navbar-nav small fw-medium" id="top-menu">
    <li class="nav-item"> <a class="nav-link" href="#">Help</a> </li>
    <li class="nav-item"> <a class="nav-link" href="#">Exachnage & Return</a> </li>
    <li class="nav-item"> <a class="nav-link" href="#">Order Tracker</a> </li>    
    <li class="nav-item"> <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]=" { exact: true} " routerLink="user">User</a> </li>    
    <li class="nav-item"> <a class="nav-link" href="#">SignUp/Login</a> </li>    
</ul>